Add your import statements and the database connection statements in the below code block

Database file path = '/course/data/CSE-578/dinofunworld.db'

In [276]:
#your code here
import os
import sqlite3
import pandas as pd
import math
import warnings

warnings.simplefilter(action='ignore', category=FutureWarning)
#db_filename = 'dinofunworld.db'

connection = sqlite3.connect('/course/data/CSE-578/dinofunworld.db')
connection_cursor = connection.cursor()

In [277]:
cwd = os.getcwd()
print(cwd)

/home

**Question 1:** 

What is the most popular attraction to visit in the park?

**Note:** Your output should be the name of the attraction. Please print your output in the cell below.

In [278]:
### TEST FUNCTION: test_question1
# DO NOT REMOVE THE LINE ABOVE
# your code here

sql_query = "SELECT attraction, COUNT(*) as c FROM checkin GROUP BY attraction ORDER BY c desc;"
connection_cursor.execute(sql_query)
popular_attraction_id = connection_cursor.fetchall() [0][0] # get the top first result in JSON format returned data  
#print(popular_attraction_id)
connection_cursor.execute("SELECT Name FROM attraction where AttractionID = {};".format(popular_attraction_id))

popular_attraction = connection_cursor.fetchone()[0] 
print(popular_attraction)

Atmosfear

**Question 2:** 

What ride (note that not all attractions are rides) has the second longest average visit time?

**Note:** Your output should be the name of the ride. Please print your output in the cell below.

In [279]:
### TEST FUNCTION: test_question2
# DO NOT REMOVE THE LINE ABOVE
# your code here

checkin_df = pd.read_sql_query("SELECT * FROM checkin;", connection)
checkin_df['total_seconds'] = pd.to_timedelta(checkin_df['duration']).astype('timedelta64[s]')
attraction_df = pd.read_sql_query("SELECT * FROM attraction WHERE Category LIKE '%Ride%';", connection)
attraction_df = attraction_df[['AttractionID','Name']]
merge_df = checkin_df[['attraction','total_seconds']].merge(attraction_df,left_on=['attraction'],right_on=['AttractionID'])
mean_df = merge_df.groupby('Name', as_index=False)['total_seconds'].mean()
sorted_df = mean_df.sort_values(['total_seconds'], ascending=[False])
#print(sorted_df)
#print("Flight of the Swingodon") #correct after analysis of the result of the previous print statement
nameOfTheSecondLargestRide = sorted_df.iloc[1]["Name"]  # Use .iloc with double brackets to extract a DataFrame such as a row by the row index, then choose which attribute data you want to extrace

print(nameOfTheSecondLargestRide)

Flight of the Swingodon

In [280]:
print(sorted_df) # view the sorted descending datafram of the average of seconds

                         Name  total_seconds
28                 TerrorSaur    2800.744916
9     Flight of the Swingodon    2554.466911
29          Wendisaurus Chase    2396.099480
8                    Firefall    2344.322285
19                 North Line    1883.432584
24            Scholtz Express    1833.786246
12      Ichthyoroberts Rapids    1236.028317
20       Paleocarrie Carousel     880.743336
1          Auvilotops Express     856.566010
13            Jeredactyl Jump     702.924980
23            Sauroma Bumpers     687.477351
21                Raptor Race     677.925357
0                   Atmosfear     676.001117
15  Kauf's Lost Canyon Escape     638.298429
17          Kristanodon Kaper     600.874934
10       Flying TyrAndrienkos     584.407692
2                  Beelzebufo     521.010093
18           Maiasaur Madness     513.085647
25                 Squidosaur     505.466482
14              Jurassic Road     496.630620
6        Eberlesaurus Roundup     467.812758
22        Rhynasaurus Rampage     453.046266
16       Keimosaurus Big Spin     385.859066
30         Wild Jungle Cruise     375.153406
4        Cyndisaurus Asteroid     362.201761
7        Enchanted Toadstools     357.795086
27                 Stone Cups     355.043075
26                Stegocycles     339.216306
3              Blue Iguanodon     338.767466
11         Galactosaurus Rage     288.397552
31     Wrightiraptor Mountain     269.476471
5         Dykesadactyl Thrill     254.204708

**Question 3:** 

Which Fast Food offering in the park has the fewest visitors?

**Note:** Your output should be the name of the fast food offering. Please print your output in the cell below.

In [281]:
### TEST FUNCTION: test_question3
# DO NOT REMOVE THE LINE ABOVE
# your code here


checkin_df = pd.read_sql_query("SELECT * FROM checkin", connection)
attraction_df = pd.read_sql_query("SELECT * FROM attraction WHERE type LIKE '%Fast Food%'", connection)
merge_df = checkin_df[['visitorID','attraction']].merge(attraction_df[['Name','AttractionID']],left_on=['attraction'],right_on=['AttractionID'])
final_df = merge_df.groupby(['Name']).size().reset_index(name='counts')
fast_food_with_fewest_visitors = final_df.iloc[final_df.counts.argmin()]['Name']
print(fast_food_with_fewest_visitors)

Theresaur Food Stop