Add you import statements and the database connection statements in the below code block

Database file path: /course/data/CSE-578/dinofunworld.db

In [12]:
# import statements here

import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.cluster.hierarchy import linkage, dendrogram

**Question 1:**

Create and display a dendrogram of the trajectories of the 5 visitors specified above. The clustering algorithm used to create the dendrogram should use the average distance between points in a cluster.

**NOTE:**

* You can reuse the distance matrix from Assignment 3.
* Make sure to use the correct clustering algorithm.
* The dendrogram  should have the following parameters:
    * Title should be '**Dendrogram of Trajectories of 5 Visitors to the Park**'
    * xlabel should be '**Visitor ID**' and ylabel should be '**Distance**'.
* The plot must not have the following parameters,
    * do not set figure size
    * do not set font size or font-weight for titles and labels

In [13]:
### TEST FUNCTION: test_question1
# DO NOT MODIFY OR REMOVE THE ABOVE LINE
# your code here

conn = sqlite3.connect('/course/data/CSE-578/dinofunworld.db')
sequence_df = pd.read_sql("SELECT visitorID, sequence FROM sequences where visitorID IN (165316, 1835254, 296394, 404385, 448990);",conn)
sequence_df['sequence_list'] = sequence_df['sequence'].apply(lambda x: [int(i) for i in x.split("-")])
n_matrix = np.matrix(sequence_df['sequence_list'].values.tolist())
links = linkage(n_matrix, 'average')
dendrogram(links, labels=sequence_df['visitorID'].values.tolist())
plt.title('Dendrogram of Trajectories of 5 Visitors to the Park')
plt.xlabel('Visitor ID')
plt.ylabel('Distance')
plt.show()

DatabaseError: Execution failed on sql 'SELECT visitorID, sequence FROM sequences where visitorID IN (165316, 1835254, 296394, 404385, 448990);': no such table: sequences